{% extends "base.html.twig" %}

{% block title %}Lista produktów{% endblock %}

{% block body %}

     <h1>{{ block('title') }}</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nazwa produktu</th>
                <th>Cena</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price|number_format(2) }}</td>
                    <td>
                        <a class="btn btn-default btn-sm" href="{{ path('product_show', {id: product.id}) }}">Szczegóły</a>
                        {# <a class="btn btn-primary btn-sm" href="{{ path('product_add_to_cart', {'id': product.id}) }}" > Dodaj do koszyka</a> #}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Nie znaleziono produktów.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
